@import "../../styles/common";

.floating-notification-container {
  width: max-content;
  height: max-content;

  position: absolute;

  top: 0;
  right: 117px;

  .floating-container-inner {
    // background-color: $white;
    height: 55px;
    width: 55px;
    border-radius: 10px;
    // cursor: pointer;

    // temporary styles
    cursor: not-allowed;
    background-color: $lighter-gray;
    //

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .notification-badge {
      border-radius: 50%;
      padding: 5px;
      background-color: $badge-red;
      color: $white;
      font-size: 11.82px;
      font-weight: 700;

      position: absolute;
      top: 0;
      left: -10px;
      outline: 2px solid $app-background-iceblue;
      border-radius: 50%;
    }
  }
}
