@import "../../../styles/common";

.ant-switch {
  &.common-switch {
    background: rgba($black, 0.25);

    &.small-switch {
      min-width: 33px;
      height: 16px;

      &.ant-switch-checked {
        .ant-switch-handle {
          inset-inline-start: calc(100% - 15px);
        }
      }

      .ant-switch-handle {
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      background: rgba($black, 0.25);
    }

    &.ant-switch-checked {
      background: $tag-green;

      &:hover {
        background: $tag-green;
      }
    }
  }
}
