@import "../../../../styles/common";

.user-details-drawer-content-wrapper {
  @include flexBox(column);

  gap: 15px;
  // gap: 24px;

  .user-details-container {
    @include flexBox(column);

    gap: 15px;
    // gap: 22px;
    padding: 25px;
    // padding: 30px;
    width: 100%;
    background-color: $lighter-gray;

    border-radius: 22px;

    .name-and-avatar-container {
      @include flexBox(row, center);

      gap: 20px;

      .initials-avatar {
        @include flexBox(row, center, center);

        height: 50px;
        width: 50px;
        // height: 73px;
        // width: 73px;
        background-color: $tag-blue;
        border-radius: 100%;

        font-size: 20px;
        // font-size: 24px;
        font-weight: 600;
        color: $white;
      }

      .name {
        font-size: 22px;
        // font-size: 28px;
        font-weight: 600;
      }
    }

    .multi-user-detail {
      @include flexBox();

      width: 100%;

      .user-detail-content {
        width: 50%;
      }
    }

    .user-detail-content {
      .label {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
      }

      .user-data {
        font-size: 16px;
        font-weight: 600;
      }

      .status {
        @include flexBox(row, center, center);

        width: max-content;
        padding: 0 25px;
        height: 26px;
        border: 1px solid $tag-blue;
        color: $tag-blue;

        font-size: 12px;
        font-weight: 400;
        border-radius: 80px;

        &.active {
          border-color: $tag-green;
          color: $tag-green;
        }

        &.inactive {
          border-color: $tag-red;
          color: $tag-red;
        }
      }
    }

    .toggler-action {
      @include flexBox(row, center, space-between);

      width: 100%;

      .toggle-action {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .actions {
      font-size: 16px;
      font-weight: 600;
      // margin-bottom: 15px;
    }

    .actions-button-container {
      @include flexBox();

      gap: 16px;

      .ant-btn {
        &.user-action-button {
          width: 154px;
          height: 44px;
          border-radius: 80px;
          font-size: 12px;
          font-weight: 400;
          color: $white;

          &.accept-button {
            background-color: $tag-blue;
          }

          &.reject-button {
            background-color: $tag-red;
          }
        }
      }
    }
  }
}
