@import "./styles/common";

html {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  body {
    background: $app-background-iceblue;
    position: relative;
    -webkit-font-smoothing: antialiased;

    h3 {
      font-weight: 400;
      font-size: 48px;
      line-height: 1.167;
      color: white;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: $primary;
    }
  }
}
